{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "bracketSameLine": true,
  "singleQuote": false,
  "singleAttributePerLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 500
}
