{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "bracketSameLine": true,
  "singleQuote": false,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "trailingComma": "all"
}
