---
import { getLangFromUrl, useTranslations, useTranslatedPath } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<!-- Announcement Banner Component -->
<div id="ab-full-width-with-dismiss-button-on-blue-bg" class="max-w-7xl py-4 mx-auto">
  <div class="bg-green-400 bg-[url('../ab-abstract.svg')] bg-no-repeat bg-cover bg-center p-4 rounded-lg text-center">
    <div class="flex flex-wrap justify-center items-center gap-2">
      <p class="inline-block text-white font-bold">
        {t("announcement_banner.discount_offer")}
      </p>
      <!-- <a class="py-1.5 px-2.5 md:py-2 md:px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-full border-2 border-white text-white hover:border-white/70 hover:text-white/70 focus:outline-hidden focus:border-white/70 focus:text-white/70 disabled:opacity-50 disabled:pointer-events-none" href="../figma.html">
        Learn more
        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </a> -->
      <!-- Close Button -->
      <div class="ps-3 ms-auto">
        <button type="button" class="inline-flex rounded-lg p-1.5 text-white/80 hover:bg-white/10 focus:outline-hidden focus:bg-white/10" data-hs-remove-element="#ab-full-width-with-dismiss-button-on-blue-bg">
          <span class="sr-only">Dismiss</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Announcement Banner Component -->