---
import { siteThemes } from "../data/siteprops";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const { title, description } = Astro.props;
const SiteProps = {
  themeColor: siteThemes.default.themeColor,
};
---

<meta charset="utf-8" />
<meta
  name="robots"
  content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"
/>
<link rel="canonical" href="https://limo.com/" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1 shrink-to-fit=no"
/>
<title>{title || t("site.name")}</title>
<meta name="description" content={description || t("site.description")} />
<meta name="generator" content={Astro.generator} />

<meta
  property="og:title"
  content="Limo Bilişim ve Teknoloji Hizmetleri | Hızlı ve güvenilir çözümler."
/>
<meta property="og:site_name" content={t("site.name")} />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://limo.com/" />
<meta property="og:image" content="" />
<meta property="og:image:alt" content="" />

<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />

<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="theme-color" content={SiteProps.themeColor} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
  rel="stylesheet"
/>
