---
const { title, description } = Astro.props;
import { siteName, siteDescription, siteThemes } from "../data/siteprops";

const SiteProps = {
  name: siteName,
  description: siteDescription,
  theme_color: siteThemes.default.themeColor,
};
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title || SiteProps.name}</title>
<meta name="description" content={description || SiteProps.description} />
<meta name="generator" content={Astro.generator} />

<meta property="og:title" content="" />
<meta property="og:type" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:image:alt" content="" />

<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />

<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="theme-color" content={SiteProps.theme_color} />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
