---
import BaseLayout from "../../layouts/base-layout.astro";
import AB from "../../components/ab.astro";
import Header from "../../components/header.astro";
import Hero from "../../components/hero.astro";
import Services from "../../components/services.astro";
import GoalAndWhy from "../../components/goal-and-why.astro";
import Projects from "../../components/projects.astro";
import Clients from "../../components/clients.astro";
import Testimonials from "../../components/testimonials.astro";
import Contacts from "../../components/contact.astro";
import Footer from "../../components/footer.astro";
import Cookies from "../../components/cookies.astro";

import { getLangFromUrl, useTranslations, useTranslatedPath } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<BaseLayout lang={lang} title={t("site.shortname")} description={t("site.description")} bodyClass="overflow-x-hidden mx-auto ">
  <AB status="off"/> <!-- On/Off  -->
  <Header />
  <main id="content">
    <Hero />
    <div id="learn-more"></div>
    <Services />
    <GoalAndWhy />
    <Projects />
    <Testimonials />
    <Clients />
    <Contacts />
  </main>
  <Footer />
  <Cookies />
</BaseLayout>
