---
import "../assets/css/global.css";
import BaseHead from "../components/base-head.astro";

const { title, description, lang, bodyClass } = Astro.props;
---

<!doctype html>
<html lang={lang || "tr"} class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class={"font-inter bg-neutral-900" + (bodyClass ? ` ${bodyClass}` : "")}>
    <slot />
    <script is:inline src="/node_modules/preline/dist/preline.js"></script>
  </body>
</html>
